{% extends "gp_app/base.html" %} 

{% load crispy_forms_tags %}

<!--  This is the top lfet container  -->

{% block top-left-container %}

    <div style="float:center;background-color: white;padding: 15px"> 

      <h1 id="title_style" style="color: black;font-size: 20px; margin-top: 10px;margin-bottom: 20px;"> 

        Espace membre  {{ updated }} - {{ user_id }} 

      </h1>

      {% include "gp_app/messages.html" %} 

        <form action="{% url 'registration' %}" method="POST"> 

          {% csrf_token %}

          {% crispy form %} 

        </form>

        <div class="text-center" style="color:black"> Avez-vous déjà un compte? 

          <a href="{% url 'login' %}"> Cliquez ici </a>

        </div>

    </div>

{% endblock %}  

<!--  This is the bottom left container   -->

{% block bottom-left-container  %}

{% endblock %}  

<!--  This is the right container   -->

{% block right-container  %} 

    {% include "gp_app/right.html" %} 

{% endblock %} 
