

<div class="row" style="background-color: tomato"> 

	<div style="padding: 20px;text-align: center">

		<h2 style="color: blue"> Bienvenue sur le site Gp </h2>

		<h2 style="text-align: center"> 

			Vous voyagez ? <br> Dites-nous où vous allez ! </h2>

			Ensemble, permettont à des millions de personnes à envoyer leurs colis

			et aussi d'amortir le coût de leur(s) voyage(s).
	</div>

</div> 

<!-- This allows to display the last n current posts -->

{% include "gp_app/poster/get_n_active_posts.html" %}