<!-- Detail file in poster folder -->
<style>
  .circle-image-u{
      display: inline-block; border-radius: 50%; overflow: hidden; width: 35px; height: 35px;
  }
  .circle-image-u img{
      width:100%; height:100%; object-fit: cover;
  }
</style>

{% load static %}


<table style="width: 100%;">

    <tr> <td style="float:center;padding-top:5px"> <b style="margin-left:5px;color:#BD1256"> CO-VALISEUR </b></td></tr>

    <tr> <td style="float: left; padding-top:8px"> <b> Nom et prénom:</b> {{ row.p_full_name }} </td> </tr> 

    <tr> <td style="float: left; padding-top:8px"> <b> Téléphone:</b> {{ row.p_phone_number }} </td> </tr>

    <tr> <td style="float: left; padding-top:8px"> <b> E-mail:</b> {{ row.p_email }} </td> </tr>
        
    <tr> <td style="float: left; padding-top:8px"> <b> E-mail:</b> {{ row.p_language }} </td> </tr>
  
</table>


<table style="width: 100%;">

  <tr> 

    <td style="width: 40%; text-align: left; padding-top:8px"> 
      <img class="circle-image-u" src="{{ row.poster_profile_img }}" alt="No"/>
    </td> 

    <td style="width: 60%; text-align: left;"> 
      <div style="float: left;width:45%">
        {{ row.p_notes }} 

        <i style="font-size:12px;color:#D68910" class="fa fa-star"></i>
      </div>      
      <!-- Detail file in poster folder -->
      <div style="float: right;width: 50%"> 
        {{ row.p_accept_rate }} % 
        <i class='fa fa-user'></i>
      </div>  
    </td>

  </tr>  



  <tr> 
    <td colspan="2">   <hr>
      <table width="100%">
        <tr align="center">
          <td width="50%"> Modifier </td>
          <td> Annuler </td>
        </tr>
      </table>
    </td>
  </tr> 

</table>
