<table style="width: 100%; text-align: left">

  <tr> 

    <td> 

      <i class="far fa-calendar-alt" aria-hidden="true"></i>

      <span style="padding: 0px;color: green"> {{ row.departure_date }} </span> 

      <i style="color: #2471A3"> - Service: <b style="color: red"> {{ row.service }} </b> </i>

    </td> 

  </tr>

  <tr>

    <td style="padding-top:15px">  

      <i style="color: #34495E" class="fas fa-map-marker-alt"></i> 

      <span style="color: black"> 

        <b> De </b>: {{ row.depart_city }}, {{ row.depart_country }} 

      </span>

    </td> 
    
  </tr>

  <tr>
    <td style="padding-top:15px"> 

      <i style="color: #34495E" class="fas fa-map-marker-alt"></i> 

      <span style="color: black"> 

        <b> A </b>: {{ row.arrival_city }}, {{ row.arrival_country }} 

      </span> 

    </td>

  </tr>  

  <tr>

    <td style="padding-top:15px"> 

        <i style="color: #34495E">

          {% if row.gp_sent_by == 'air' %}

            <i class="fas fa-plane-departure"></i>

          {% elif row.gp_sent_by == 'mer' %}

              <i class="fa fa-ship" aria-hidden="true"></i>

          {% elif row.gp_sent_by == 'terre' %}

              <i class="fa fa-car" aria-hidden="true"></i>

          {% endif %}

        :</i> <span style="color: black"> Moyen de transport </span>
    </td>
    
  </tr>  

</table>
