<div class="container" style="color:black;padding: 30px;">

  <div class="row card-header bg-success text-white" style="color: #5D6D7E;font-size: 0.9em;">  

  	Votre proposition a été ajoutée avec succès. 

  </div>

  <div class="row" style="padding: 10px;"> <i class="fas fa-plane-departure" style="margin-right: 10px"> </i> <b> De: </b> {{ departure }} </div>

  <div class="row" style="padding-left: 10px;">  

  	<i class="fas fa-plane-arrival" style="margin-right: 10px"></i> <b> Vers: </b> {{ destination }}  

  </div>

  <div class="row" style="padding: 10px;"> 

  	<i style="color: #34495E; margin-right: 10px" class="fas fa-map-marker-alt"></i> <b> Départ le: </b> {{ depart_date }} 

	</div>

	<div class="row" style="padding: 10px;"> 

		<i class="fas fa-luggage-cart" style="margin-right: 10px"></i> <b> kg proposé: </b> {{ number_of_kg }} kg 
		
	</div>

	<div class="row" style="padding: 10px;"> 

		<i style="color:#27AE60;margin-right: 10px" class="far fa-money-bill-alt"></i> <b> Prix du kg:</b> {{price_of_kg}} {{currency}} 

	</div>

	<div class="row" style="padding: 10px;"> 

    <button type="submit" class="btn btn-warning btn-md btn-block"> 

      <a href="{% url 'user_profile' %}" style="color:black">  Mon profile </a> 

    </button>

  </div>

</div>
