
{% if not df_member_current_reservations.empty %}

  <!-- Get all reservations of this user -->

  {% for index_re, row_re in df_member_current_reservations.iterrows  %}

      <!-- Get the post reserved on information -->

      {% for index, row in df_posts_reserved_on.iterrows %}

        {% if row_re.post_id == row.post_id %}

        <div class="card text-center mb-3" style="width: 100%;">

            <!-- Dispaly the reserer info -->

            <div class="card-header" style="background-color: #D9F8D4"> 

              {% include 'gp_app/reserver/header.html' %} 

            </div>

            <!-- Dispaly the proposition info-->

            <div class="card-body"> 

                <p> <b style="color: #BD1256"> Information sur le Départ: </b> </p>

                {% include 'gp_app/reserver/body.html' %} 

            </div>

            <!--  Display the proposeur info -->
            
            <div class="card-footer text-muted" style="background-color: #D4F8F8"> 

              {% include 'gp_app/poster/poster_infos.html' %} 

            </div>

            <div style="width: 100%; background: red;">  

              <form action="{% url 'user_actions' %}" method="POST">  

                {% csrf_token %}

                <input type="hidden" id="memberId" name="member_id" value="{{ request.session.user_id }}">

                <input type="hidden" id="reservationId" name="reservation_id" value="{{ row_re.id  }}">

                <input type="hidden" id="posterId" name="poster_id" value="{{ row_re.poster_id }}">

                <input type="hidden" id="postId" name="post_id" value="{{ row_re.post_id }}">

                <input type="hidden" id="r_full_name" name="r_full_name" value="{{ row_re.r_full_name }}"> 
                
                <input type="hidden" id="r_language" name="r_language" value="{{ row_re.r_language }}"> 

                {% if row.departure_date_in_progress %}

                  <input type="hidden" id="user_action" name="user_action" value="canceled_by_res">

                  <input type="hidden" id="nbrKilos" name="nbr_kilos" value="{{ row_re.nbr_kilos }}">

                  <button type="submit" class="btn btn-secondary btn-sm"> ANNULER - {{ row.post_code }} </button>                     

                {% else %}               

                   <input type="hidden" id="user_action" name="user_action" value="completed_by_res">

                   <button type="submit" class="btn btn-primary btn-sm"> CONFIRMER FIN - {{ row.post_code }}  </button> 

                {% endif %}

              </form>

            </div>

          </div>

        {% endif %}

      {% endfor %}

  {% endfor %}

{% else %}

    <p style="color:#A44D09"> Vous avez (0) réservation en cours </p>

{% endif %}

