<!-- <form>

  <div style="width:100%"> <hr > </div> 

  <div class="form-row">

    <div class="form-group col-md-6">

      <label for="inputEmail4"> Pays Départ </label>

      <input type="email" class="form-control" id="inputEmail4">

    </div>

    <div class="form-group col-md-6">

      <label for="inputPassword4"> Ville Départ </label>

      <input type="password" class="form-control" id="inputPassword4">

    </div>

  </div>

    <div class="form-group row">

    <label for="password" class="col-sm-6 col-form-label"> Date de départ </label>

    <div class="col-sm-6">

      <input id="date" type="date">

    </div>

  </div>

  <div class="form-group row">

    <label for="password" class="col-sm-5 col-form-label"> Colis envoyé par: </label>

    <div class="col-sm-7">

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">  Air </label>
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">  Terre </label>
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">  Mer </label>
      </div>

    </div>

  </div>

  <div style="width:100%"> <hr > </div> 

  <div class="form-row">

    <div class="form-group col-md-6">

      <label for="inputEmail4"> Pays destination </label>

      <input type="email" class="form-control" id="inputEmail4">

    </div>

    <div class="form-group col-md-6">

      <label for="inputPassword4"> Ville destination </label>

      <input type="password" class="form-control" id="inputPassword4">

    </div>

  </div> -->

  <!-- Message input -->

<!--   <div class="form-outline mb-4">

    <label class="form-label" for="form4Example3"> Votre message ici </label>

    <textarea class="form-control" id="form4Example3" rows="4"></textarea>  

  </div>

  <button type="submit" class="btn btn-primary">Sign in</button>

</form> -->