{% extends "base.html" %} 

{% load static %}

{% load crispy_forms_tags %}


{% block left %}

    <div class="card" style="width: 100%">

        <ul class="list-group list-group-flush">

            <li class="list-group-item" style="text-align: center;"> <h3> Déjà membre </h3> </li>

            <li class="list-group-item">

                <span class="card-title"> {% include "messages.html" %} </span>

                <form action="{% url 'login' %}" method="POST" style="width: 100%">  

                    {% csrf_token %}

                    {% crispy login_form %} 

                    <p> <a href="{% url 'forgotten_password' %}">  <h5> Mot de passe oublié </h5> </a> </p> 

                    <button type="submit" class="btn btn-lg btn-primary btn-block"> Se connecter   </button> 

                </form>

            </li>

        </ul>

    </div>

{% endblock %}



{% block right %}

    {% block right_top  %}

        <h2> TITLE HEADING </h2>

        <h5> Title description, Dec 7, 2017 </h5>

        <div class="fakeimg"> Fake Image </div>

        <p> Some text.. </p>

        <p>
        Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <br>

    {% endblock %}

    {% block right_bottom  %}

        <h2> TITLE HEADING </h2>

        <h5> Title description, Sep 2, 2017 </h5>

        <div class="fakeimg"> 

               Fake Image           
        </div>

        <p>S ome text.. </p>

        <p> Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

    {% endblock %}

{% endblock %}
