<div class="card text-center">

  <div class="card-header bg-success text-white" style="color: #5D6D7E;font-size: 0.9em"> 

      Vous allez être averti si membre propose le trajet suivant:

  </div>


  <div class="card-body" style="color: black;">

    <table width="100%">    	

			<tr> <td style="float:left">

					<p> <i class="fas fa-plane-departure" style="margin-right:10px"></i> <b> De: </b> {{ departure }} </p> 

			</td> </tr>			

			<tr> <td style="float:left">

				<p> <i class="fas fa-plane-arrival" style="margin-right:10px"></i> <b> Vers: </b> {{ destination }} </p> 

			</td> </tr>

			{% if take_departure_date == 'yes' %}

				<tr> <td style="float:left">

					<p> <i style="color:#34495E;margin-right:10px" class="fas fa-map-marker-alt"></i> <b> Départ le: </b> {{ departure_date }} </p> 

				</td> </tr>

			{% endif %}	

			<tr align="center"> <td>

				<form action="{% url 'confirm_alert_me' %}" method="POST" id="personForm">

					{% csrf_token %}

					<div class="container">

  					<div class="row">

   						<div class="col">

								<button type="submit" class="btn btn-warning btn-md btn-block"> Avertis - moi  </button>

    					</div>

   					 	<div class="col">

      					<button type="submit" class="btn btn-danger btn-md btn-block"> 

      						<a href="{% url 'alert_me' %}" style="color:black"> Annuler </a> 

      					</button>
    					
    					</div>

  					</div>

					</div>

 				</form> 

			</td> </tr>	

    </table> 

  </div>

</div>