{% load crispy_forms_tags %}

<p> <i style="color: #808080"> Les champs avec <i style='color:red'>*</i> sont obligatoires.</i> </p>

{% csrf_token %}


{% crispy form %}	


<div class="input-group mb-3">

	<div class="input-group-prepend">

	    <label class="input-group-text" for="inputGroupSelect01"> 

	    	Service <i style="color: red">*</i> <i style="margin-right: 60px"></i>

	    </label> 

	</div>

	<select class="custom-select" name="service" value="" required>

	    <i class="fas fa-plane-departure" style="margin-right: 50px"></i> 

	    <option value="GP" selected> Service Gp </option>

	</select>

</div>


<div class="float-left" style="margin-left:25px">

  <input class="form-check-input" type="radio" name="take_departure_date" id="exampleRadios1" value="yes" checked>

  <label class="form-check-label" for="exampleRadios1" style="color:black;font-size: 14px;">

    Je cherche un co-valiseur pour la date selectionnée.

  </label>

</div> <br>

<div class="float-left" style="margin-left:25px">

  <input class="form-check-input" type="radio" name="take_departure_date" id="exampleRadios2" value="no">

  <label class="form-check-label" for="exampleRadios2" style="color:black;font-size: 14px;">

    Un co-valiseur pour une autre date fera l'affaire aussi.

  </label>

</div> <br>



