<form>

  <!-- Name input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form4Example1">Votre nom et prénom</label>
    <input type="text" id="form4Example1" class="form-control" />    
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form4Example2">Email address</label>
    <input type="email" id="form4Example2" class="form-control" />    
  </div>

  <!-- Message input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form4Example3"> Votre message ici </label>
    <textarea class="form-control" id="form4Example3" rows="4"></textarea>    
  </div>

  <!-- Checkbox -->
  <div class="form-check d-flex justify-content-center mb-4">
    <input
      class="form-check-input me-2"
      type="checkbox"
      value=""
      id="form4Example4"
      checked
    />
    <label class="form-check-label" for="form4Example4">
      Envoyer moi une copie 
    </label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4"> Envoyer </button>
</form>