<style type="text/css">

  .sort-select#sort2 { display: none; }

    /* Customize the label (the container) */

  .containerss {background: white; width: 105px; height: 25px; }

  .pad {padding: 15px; font-weight: bold;}

  .divider-text {position: relative; text-align: center; margin-top: 15px; margin-bottom: 15px;}

  .divider-text span {padding: 7px; font-size: 12px; position: relative;  z-index: 2;}

  .divider-text:after {content: ""; position: absolute; width: 100%; border-bottom: 1px solid #ddd; top: 55%; left: 0; z-index: 1;}

  .btn-facebook {background-color: #405D9D; color: #fff;}

  .btn-twitter {background-color: #42AEEC; color: #fff;}

</style>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">  

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

{% extends "gp_app/base.html" %} 

{% load static %}

<!--  This is the top lfet container   -->

{% block top-left-container %} 

<!--   {{ ville_pays }} -->

 <form action="{% url 'addNewpatient' %}" method="POST" style="width: 100%">  

  {% csrf_token %}
  
<div class="row card border-dark">

  <div class="container-fluid" style=" float:center; background-color: #fff; padding: 15px; border-radius: 5px;  width: 100%">

    <!-- <p style="background-color:#ccffcc;color: green"> Text here </p> -->

      <div class="card text-center">

      <div class="card-header" style="white: #5D6D7E;font-size: 1.30em; background-color: #0080ff"> 

        AJOUTER UN PATIENT - LEXEIBA <br >

        <i style="color:red"> {{ feadback_message }} </i> 

        <i style="color:green"> {% if message_send %} Le patient a été ajouté avec succès {% endif %} </i> 

      </div>

      <div class="container">

        <div class="card bg-light">

          <article class="card-body mx-auto" style="max-width: 400px;">          

              <div class="form-group input-group">

                <div class="input-group-prepend"> <span class="input-group-text"> <i class="fa fa-user"></i> </span> </div>

                <input name="full_name" class="form-control" placeholder="Nom et prénom" type="text">

              </div> <!-- form-group// -->

              <div class="form-group input-group">

                <div class="input-group-prepend"> <span class="input-group-text"> <i class="bi bi-calendar-date"></i> </span> </div>

                <input name="birthday" class="form-control" placeholder="Date de naissance" type="text">

              </div> <!-- form-group// -->

              <div class="form-group input-group">

                <div class="input-group-prepend"> <span class="input-group-text"> <i class="fa fa-envelope"></i> </span> </div>

                <input name="email" class="form-control" placeholder="Email address" type="email">

              </div> <!-- form-group// -->

              <div class="form-group input-group">

                <div class="input-group-prepend"> <span class="input-group-text"> <i class="fa fa-phone"></i> </span> </div>

                <select class="custom-select" style="max-width: 120px;"> <option selected=""> +222 </option> </select>

                  <input name="phone_number" class="form-control" placeholder="Téléphone" type="text">

              </div> <!-- form-group// -->

              <div class="form-group input-group">

                <div class="input-group-prepend"> <span class="input-group-text"> <i class="fa fa-building"></i> </span> </div>
                
                <select name='city' class="form-control">

                  <option value='None'> Ville de résidence</option>

                  <option value='Lexeiba'> Lexeiba </option>

                  <option value='Talhaya'> Talhaya </option>

                  <option value='Djocoudi'> Djocoudi </option>

                  <option value='Autre'> Autre </option>

                </select>

              </div> <!-- form-group end.// -->

              <div class="form-group input-group">

                <div class="input-group-prepend"> <span class="input-group-text"> <i class="fa fa-lock"></i> </span> </div>

                <input name='nni' class="form-control" placeholder="Les 4 derniers chiffres du NNI" type="number">
                
              </div> <!-- form-group// --> 

              <div class="form-group">

                  <button type="submit" class="btn btn-primary btn-block"> Créer un compte patient </button>

              </div> <!-- form-group// -->      

              <div class="form-group" style="float: left;">

              <p class="text-center" style="color:black"> Personnel de santé: <a href="{% url 'findAPatient' %}"> Trouver un patient </a> </p>

              <p class="text-center" style="color:black"> Pharmacien: <a href="{% url 'patientMedicine' %}"> Trouver un patient </a> </p>  

               </div>

          </article>

        </div> <!-- card.// -->

</div> 

<!--container end.//-->

<br><br>

<article class="bg-secondary mb-3">  

  <div class="card-body text-center">

    <h3 class="text-white mt-3">F.A.R.L</h3>

    <p class="h5 text-white"> Fédération des Associations <br> </p> <p> des Ressortissants de Lexeiba 
    Gorgol </p>   <br>

    <p><a class="btn btn-warning" target="_blank" href=""> Département de Lexeiba Gorgol 

     <i class="fa fa-window-restore "></i></a></p>

  </div>

  <br><br>

</article>


    </div>

   </div>

</div>

{% endblock %}  

<!--  This is the bottom left container -->

{% block bottom-left-container  %}

    <!-- <a href="{% url 'register' %}"> M'inscrire maintenant </a>  -->    

{% endblock %}  

<!--  This is the right container (right column)  -->

{% block right-container  %} 

  <div class="row"> 

    <div class="card border-secondary mb-5" style="width: 100%;">

      <div class="card-header" style="color: black;font-weight: bold;"> LE PATIENT DOIT VOIR </div>

      <div class="card-body text-secondary">

        <div class="container">

          <div class="row">

            <table style="width: 100%;" class="container">

              <tr>

                <th class="pad">

                  <input class="containerss" type="checkbox" name="checks[]" value="Médecine généraliste"> Médecine généraliste 

                </th>

                <th class="pad">

                  <input class="containerss" type="checkbox" name="checks[]" value="Gynécologues"> Gynécologues 

                </th>

              </tr>

              <tr>

                <td class="pad"><input class="containerss" type="checkbox" name="checks[]" value="Dentistes"> Dentistes </td>

                <td class="pad"><input class="containerss" type="checkbox" name="checks[]" value="Pédiatres"> Pédiatres </td>

              </tr>

              <tr>

                <td class="pad"><input class="containerss" type="checkbox" name="checks[]" value="Ophtalmologues"> Ophtalmologues </td>

                <td class="pad"><input class="containerss" type="checkbox" name="checks[]" value="Pharmaciens"> Pharmaciens</td>

              </tr>

              <tr>

                <td class="pad"><input class="containerss" type="checkbox" name="checks[]" value="Sage femme"> Sage femme </td>

                <td class="pad"><input class="containerss" type="checkbox" name="checks[]" value="Infirmier"> Infirmier(ere) </td>

              </tr>

            </table> 
            
          </div>

        </div> 

      </div>

      <div class="card-header" style="color:blue;"> 

        {% if data_added %} Le PIN de {{ full_name }} est: <strong style="color:red"> {{ patient_pin }} </strong> {% endif %}

      </div>   

    </div>



</div>

{% endblock %} 


 </form>