<div style="width: 100%;">

  <ul class="list-group list-group-flush">

    <li class="list-group-item" style="color: #1E2680"> 

      <b href="#" value="Show mes_propositions_cu" onclick="toggle_pr(this)">

        <p> Mes propositions en cours ({{ df_member_current_posts.shape.0 }}) </p>

      </b>

      <!--The DIV element to toggle visibility. Its "display" property is set as "none". -->

      <div style="display:none;" id="propositions_cu">

          {% include 'gp_app/profile/currents/current_posts_list.html' %}

      </div>

    </li>

    <li class="list-group-item" style="color: #1E2680">

      <b href="#" value="Show mes_reservations_cu" onclick="toggle_re(this)"> 

        <p> Mes réservations en cours ({{ df_member_current_reservations.shape.0 }}) </p> 

      </b>

      <!--The DIV element to toggle visibility. Its "display" property is set as "none". -->

      <div style="display:none;" id="reservations_cu">

          {% include 'gp_app/profile/currents/current_reservations.html' %} 

      </div>

    </li>

    <script>

      function toggle_pr(ele) {

        var propositions_cu = document.getElementById('propositions_cu');

        if (propositions_cu.style.display == 'block') {

            propositions_cu.style.display = 'none';

            document.getElementById(ele.id).value = 'Show mes_propositions_cu';
        }
        else {
            propositions_cu.style.display = 'block';

            document.getElementById(ele.id).value = 'Hide mes_propositions_cu';
        }
      }

      function toggle_re(ele) {

        var reservations_cu = document.getElementById('reservations_cu');

        if (reservations_cu.style.display == 'block') {

            reservations_cu.style.display = 'none';

            document.getElementById(ele.id).value = 'Show mes_reservations_cu';
        }
        else {
            reservations_cu.style.display = 'block';
            
            document.getElementById(ele.id).value = 'Hide mes_reservations_cu';
        }
      }
    </script>

  </ul>

</div>