
{% if not df_member_canceled_reservations.empty %}

  <!-- Get all reservations of this user -->

  {% for index_re, row_re in df_member_canceled_reservations.iterrows  %}

      <!-- Get the post reserved on information -->

      {% for index, row in df_posts_reserved_on.iterrows %}

        {% if row_re.post_id == row.post_id %}

          <div class="card text-center mb-3" style="width: 100%;">

            <!-- Dispaly the reserer info -->

            <div class="card-header" style="background-color: #D9F8D4"> 

              {% include 'gp_app/reserver/header.html' %} 

            </div>

            <!-- Dispaly the proposition info-->

            <div class="card-body"> 

                <p> <b> Information sur le Départ: </b> </p>

                {% include 'gp_app/reserver/body.html' %} 

            </div>

            <!--  Display the proposeur info -->
            
            <div class="card-footer text-muted" style="background-color: #D4F8F8"> 

              {% include 'gp_app/poster/poster_infos.html' %} 

            </div>

          </div>

        {% endif %}

      {% endfor %}

  {% endfor %}

{% else %}

    <p style="color:#A44D09"> Vous avez (0) réservation en cours </p>

{% endif %}

