<div style="width: 100%;">

  <ul class="list-group list-group-flush">

    <li class="list-group-item" style="color: #1E2680"> 

      <b href="#" value="Show mes_propositions_ca" onclick="toggle_pr_ca(this)">

        <p> Mes propositions annulées ({{ df_member_canceled_posts.shape.0 }}) </p>

      </b>

      <!--The DIV element to toggle visibility. Its "display" property is set as "none". -->

      <div style="display:none;" id="propositions_ca">

          {% include 'gp_app/profile/canceled/canceled_posts_list.html' %}

      </div>

    </li>

    <li class="list-group-item" style="color: #1E2680">

      <b href="#" value="Show mes_reservations_ca" onclick="toggle_re_ca(this)"> 

        <p> Mes réservations annulées ({{ df_member_canceled_reservations.shape.0 }}) </p> 

      </b>

      <!--The DIV element to toggle visibility. Its "display" property is set as "none". -->

      <div style="display:none;" id="reservations_ca">

          {% include 'gp_app/profile/canceled/canceled_reservations.html' %} 

      </div>

    </li>

    <script>

      function toggle_pr_ca(ele) {

        var propositions_ca = document.getElementById('propositions_ca');

        if (propositions_ca.style.display == 'block') {

            propositions_ca.style.display = 'none';

            document.getElementById(ele.id).value = 'Show mes_propositions_ca';
        }
        else {
            propositions_ca.style.display = 'block';

            document.getElementById(ele.id).value = 'Hide mes_propositions_ca';
        }
      }

      function toggle_re_ca(ele) {

        var reservations_ca = document.getElementById('reservations_ca');

        if (reservations_ca.style.display == 'block') {

            reservations_ca.style.display = 'none';

            document.getElementById(ele.id).value = 'Show mes_reservations_ca';
        }
        else {

            reservations_ca.style.display = 'block';

            document.getElementById(ele.id).value = 'Hide mes_reservations_ca';
        }
      }

    </script>

  </ul>

</div>
