
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Etape finale: Confirmer votre compte vitexpro </title>
  </head>

  <body>

    <table style="width: 90%; margin-left: 5%;">

      <tr>

        <td style="background-color: black;color: white; text-align: center"> 

          <h2> Confirmer votre email </h2>

        </td>

      </tr>

      <tr>

        <td style="text-align: center"> 

          <p> <h6 style="width: 100%"> 

            Pour finaliser votre inscription, vous avez besoin de confirmer votre email en cliquant sur le bouton ci-dessous. 

          </h6></p>

        </td>

      </tr>

      <tr>

        <td> 

         <p style="text-align: center;margin-left: 9%;width: 80%"> 

            <a href="{{confirm_url}}"> 

              <button style="background-color: #e69900; border: none; color: white;
                padding: 15px 32px; text-align: center; text-decoration: none;
                display: inline-block; font-size: 16px; margin: 4px 2px;
                cursor: pointer; width: 100%;"> <b> Confirmer </b>
              </button> 
            </a> 

          </p><hr>

        </td>

      </tr>

      <tr>

        <td style="text-align: center"> 

          <p style="text-align: center; margin-left: 120px; width: 70%"> 

           <h3> Si le bouton ne fonctionne pas? </h3> <br>

           {{confirm_url}}

          </p>

        </td>

      </tr>
      
    </table>

  </body>

</html>



