<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title> Vitexpro </title>

  </head>

  <body>


  <table style="width: 90%; margin-left: 5%;">

      <tr>

        <td colspan="2" style="background-color: black;color: white; text-align: center;"> 

          <h4> Vitexpro - annulation </h4>

        </td>

      </tr>

      <tr>

        <td colspan="2" style="padding-top: 0.5em;text-align: center" > 

          <p> Salut, {{ reciver_full_name }}, ci-dessous les informations sur la

              {% if canceled_by_pro %}

                proposition 

              {% else %}

                réservation 

              {% endif %} annulée par {{ canceler_full_name }}. <hr> </p>

        </td>
        
      </tr>

      <tr>

      <tr style="padding-top: 0.5em; text-align: left">

        <td> Départ le: </td> <td> {{ departure_date }}, </td>

      </tr>

      <tr>

        <td style="padding-top: 0.5em;text-align: left"> De: </td> 

        <td style="text-align: left"> {{ departure }}, </td>

      </tr>

      <tr>

        <td style="padding-top: 0.5em;text-align: left"> Vers: </td> 

        <td style="text-align: left"> {{ destination }}, </td>

      </tr>

      <tr>

        <td style="padding-top: 0.5em;text-align: left"> Langue: </td> 

        <td style="text-align: left"> {{ canceler_language }}, </td>

      </tr>

      <tr> <td colspan="2" align="center" style="padding-top: 0.5em;"> Equipe Vitexpro </td> 

      <tr>

        <td colspan="2" align="center">

          <a href="www.vitexpro.com"> <p style="padding-top: 0.5em;color:blue"> Retourner sur https://vitexpro.com </p></a> 

        </td> 
        
      </tr>

    </table>

  </body>

</html>
