<div style="width: 100%;">

  <ul class="list-group list-group-flush">

    <li class="list-group-item" style="color: #1E2680"> 

      <b href="#" value="Show mes_propositions_co" onclick="toggle_pr_co(this)">

        <p> Mes propositions terminées ({{ df_member_completed_posts.shape.0 }}) </p>

      </b>

      <div style="display:none;" id="propositions_co">

        {% include 'gp_app/profile/completed/completed_posts_list.html' %}

      </div>

    </li>

    <li class="list-group-item" style="color: #1E2680">

      <b href="#" value="Show mes_reservations_co" onclick="toggle_re_co(this)"> 

        <p> Mes réservations terminées ({{ df_member_completed_reservations.shape.0 }}) </p> 

      </b>

      <!--The DIV element to toggle visibility. Its "display" property is set as "none". -->

      <div style="display:none;" id="reservations_co">

        {% include 'gp_app/profile/completed/completed_reservations.html' %} 

      </div>

    </li>

    <script>

      function toggle_pr_co(ele) {

        var propositions_co = document.getElementById('propositions_co');

        if (propositions_co.style.display == 'block') {

            propositions_co.style.display = 'none';

            document.getElementById(ele.id).value = 'Show mes_propositions_co';
        }
        else {
            propositions_co.style.display = 'block';

            document.getElementById(ele.id).value = 'Hide mes_propositions_co';
        }
      }

      function toggle_re_co(ele) {

        var reservations_co = document.getElementById('reservations_co');

        if (reservations_co.style.display == 'block') {

            reservations_co.style.display = 'none';

            document.getElementById(ele.id).value = 'Show mes_reservations_co';
        }
        else {
            reservations_co.style.display = 'block';

            document.getElementById(ele.id).value = 'Hide mes_reservations_co';
        }
      }

    </script>

  </ul>

</div>