
{% extends "gp_app/base.html" %} 

{% load crispy_forms_tags %}

{% load static %}

<!-- https://getbootstrap.com/docs/4.2/components/card/ -->

<!-- This is the top lfet container -->
{% block top-left-container %}

<div class="row" style="color: black">

  <div class="container-fluid" style=" float:center; background-color: #fff; padding: 25px; border-radius: 5px; width: 100%">

    <!-- <p style="background-color:#ccffcc;color: green">Text here</p> -->    

  	{% if not profile_is_updated %}

      <div class="card text-center">

        <div class="card-header" style="color: red;font-size: 1.1em"> 

  		    Votre profil n'est pas encore à jour !

        </div>

        <div class="card-body">
  		    
  		     <!-- Show the errors messages -->

  		    {% include "gp_app/messages.html" %}    

  		    <form action="{% url 'user_profile' %}" method="POST"> 

  		      {% csrf_token %}

  		      {% crispy profile_form %} 

  		    </form>
        
        </div>

      </div>

  	{% else %} 

      <div class="card text-center">

        <div class="card-header"> 

          <i class="custom-form-title" style="color: #5D6D7E;font-size: 1.25em"> Espace membre </i>

        </div>

        <div class="card-header"> 

          <h6> Membre depuis le {{ request.session.date_joined }} </h6>

        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">

          <li class="nav-item">

            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">

             profile 

            </a>

          </li>

          <li class="nav-item">

            <a class="nav-link" id="en-cours-tab" data-toggle="tab" href="#en-cours" role="tab" aria-controls="en-cours" aria-selected="false">

             En cours 

            </a>

          </li>

          <li class="nav-item">

            <a class="nav-link" id="passe-tab" data-toggle="tab" href="#passe" role="tab" aria-controls="passe" aria-selected="false"> 

              Passe 

            </a>

          </li>

          <li class="nav-item">

            <a class="nav-link" id="alert-tab" data-toggle="tab" href="#alert" role="tab" aria-controls="alert" aria-selected="false"> 

              Alert 

            </a>

          </li>

        </ul>


        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab"> 

              {% include 'gp_app/profile/profile_info.html' %}

          </div>

          <div class="tab-pane fade" id="en-cours" role="tabpanel" aria-labelledby="en-cours-tab">

            {% if not df_user_posts.empty %}

              {% for index, row in df_user_current_post.iterrows  %}

                <div class="card text-center mb-3" style="width: 100%;">

                <!-- #E5EC9A #D1E8CF, Header block -- C4D4DF -->

                <div class="card-header" style="background-color: #E6A292"> 

                  {% include 'gp_app/poster/header.html' %} </div>

                <!-- Center Block -->

                <div class="card-body"> {% include 'gp_app/poster/body.html' %} </div>

                <!-- Footer Block -->

                <div class="card-footer text-muted"> 
                  
                  Voir le(s) reservation(s)

                </div>

              </div>

              {% endfor %}

            {% else %}

              Vous avez (0) propositions

            {% endif %}

          </div>

          <div class="tab-pane fade" id="passe" role="tabpanel" aria-labelledby="passe-tab">

                C

          </div>

          <div class="tab-pane fade" id="alert" role="tabpanel" aria-labelledby="alert-tab">

                D

          </div>

        </div>

      </div>

	  {% endif %}

	</div>

</div>

{% endblock %}  

<!-- This is the bottom left container -->
{% block bottom-left-container  %}


{% endblock %}  


<!-- This is the right container -->
{% block right-container  %} 

    {% include "gp_app/right.html" %} 

{% endblock %} 


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_country").change(function () {
        const url = $("#ItineraryForm").attr("data-cities-url");  // get the url of the `load_cities` view
        const countryId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'country_id': countryId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
                /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${city.id}">${city.name}</option>`
                });
                console.log(html_data);
                $("#id_city").html(html_data);

                */
            }
        });

    });
</script>
