<ul class="nav nav-tabs" id="myTab" role="tablist">

  <li class="nav-item">

    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true"> 

      Profil 

    </a>

  </li>

  <li class="nav-item">

    <a class="nav-link" id="en-cours-tab" data-toggle="tab" href="#en-cours" role="tab" aria-controls="en-cours" aria-selected="false"> 

      En cours 

    </a>

  </li>

  <li class="nav-item">

    <a class="nav-link" id="passe-tab" data-toggle="tab" href="#passe" role="tab" aria-controls="passe" aria-selected="false"> 

      Terminés 

    </a>

  </li>

  <li class="nav-item">

    <a class="nav-link" id="alert-tab" data-toggle="tab" href="#alert" role="tab" aria-controls="alert" aria-selected="false"> 

    Annulés 

  </a>
    
  </li>

</ul>
