<style>

	.circle-image-p{display: inline-block; border-radius: 50%; overflow: hidden; width: 100px; height: 100px;}

	.circle-image-p img{width:150%; height:150%; object-fit: cover;}
	
</style>

{% load static %}

<form action="{% url 'upload_picture' %}" method="post" enctype="multipart/form-data">

	{% csrf_token %}

	<table>	

		<tr> 

			<td colspan="2" align="center"> 

				{% include "gp_app/messages.html" %} 

				<a href="{% url 'user_profile' %}" style="color:#205DC6"> 

					<i class="fa fa-reply-all" aria-hidden="true"></i>

					RETURNER A MON PROFIL

				</a>

			</td> 

		</tr>

		<tr> 

			<td colspan="2" align="center" style="padding: 1em"> 

				Sélectionner une nouvelle photo de profil

			</td> 

		</tr>

		<tr>

			<td width="40%"> <img class="circle-image-p" src="{{ profile.image.url }}" alt="No"/> </td>

		    <td style="text-align: center"> 

  				<input type="file" name="pictureToUpload" id="pictureToUpload" required>  	

		    </td> 

		</tr>

		<tr> 

			<td colspan="2" align="center"> <hr style="padding-bottom: 0px">

				<input type="submit" value="Téléverser" name="submit"> 

			</td> 
			
		</tr>

	</table>

</form>