<style>
	.circle-image-p{
	  display: inline-block; border-radius: 50%; overflow: hidden; width: 100px; height: 100px;
	}
	.circle-image-p img{
	  width:150%; height:150%; object-fit: cover;
	}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


{% load crispy_forms_tags %}

{% load static %}

<div class="card" style="width: 100%;">

	{% include "gp_app/messages.html" %} 

	<a href="{% url 'user_profile' %}" style="color:#205DC6"> 

		<i class="fa fa-reply-all" aria-hidden="true"></i> RETOURNER A MON PROFIL

	</a> 
  
  <ul class="list-group list-group-flush">

    <li class="list-group-item" style="color: #1E2680">   

      	<b href="#" value="Show infomation_perso" onclick="toggle_user(this)"> 

        	Modifier mes infos personnel <i class="fa fa-wrench" aria-hidden="true"></i>

      	</b>

      	<!--The DIV element to toggle visibility. Its "display" property is set as "none". -->

      	<div style="display:none;" id="info_perso"> <hr>

            <span style="color: green"> 

            	<span style="color:red"> ATTENTION! </span> 

            	un email <span style="color:red"> d'ACTIVATION </span> vous sera envoyé si vous modifiez votre email. 

            </span>

            <hr>

			<form action="{% url 'edit_user' request.session.user_id %}" method="POST" class="post-form">

				{% csrf_token %}

				<div class="form-group">

			      <div class="input-group mb-12">

			        <div class="input-group-prepend">

			          <div class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></div>

			        </div>

			        <input type="text" name='full_name' class="form-control" value="{{ user.full_name }}" required>

			      </div>

    			</div>

    			<div class="form-group">

			      <div class="input-group mb-12">

			        <div class="input-group-prepend"> <div class="input-group-text"> @ </div> </div>

			        <input type="text" name='email' class="form-control" value="{{ user.email }}" required>

			      </div>

    			</div>

			    <input type="hidden" name="action" value="update_user_info">

			    <button type="submit" class="btn btn-warning btn-md btn-block"> Modifier mes infos </button>

		    </form>

        </div>

    </li>

<!--     <li class="list-group-item" style="color: #1E2680">

        <b href="#" value="Show mot_de_passe" onclick="toggle_mdp(this)"> 

           Voulez-vous modifier votre mot de passe ? <i class="fa fa-wrench" aria-hidden="true"></i>

        </b> -->

        <!--The DIV element to toggle visibility. Its "display" property is set as "none". -->

<!--         <div style="display:none;" id="mdp"> <hr>

            <span style="color: green"> Créer un nouveau mot de passe. </span> <hr>

			<form action="{% url 'edit_user' request.session.user_id %}" method="POST" class="post-form">

				{% csrf_token %}

				<div class="form-group">

			      <div class="input-group mb-12">

			        <div class="input-group-prepend">

			          <div class="input-group-text"><i class="fa fa-unlock-alt" aria-hidden="true"></i></div>

			        </div>

			        <input type="password" name='password1' class="form-control" value="" required placeholder="Votre nouveau mot de passe">

			      </div>

    			</div>

    			<div class="form-group">

			      <div class="input-group mb-12">

			        <div class="input-group-prepend">

			          <div class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></div>

			        </div>

			        <input type="password" name='password2' class="form-control" value="" required placeholder="Confirmer votre mot de passe">

			      </div>

    			</div>   			

			    <input type="hidden" name="action" value="update_user_password">

			    <button type="submit" class="btn btn-secondary"> Nouveau mot de passe </button>

		    </form>

      </div>

    </li> -->

    <li class="list-group-item" style="color: #1E2680">

	    <b href="#" value="Show profile" onclick="toggle_profile(this)"> 

	        Modifier mon profil <i class="fa fa-wrench" aria-hidden="true"></i>

	    </b>

        <!--The DIV element to toggle visibility. Its "display" property is set as "none". -->

       <div style="display:none;" id="profile_info"> <hr>
	        
	        <span style="color: blue"> Voulez-vous modifier votre profil ? </span> <hr>

			<form action="{% url 'edit_user' request.session.user_id %}" method="POST" class="post-form">

				{% csrf_token %}

			    {% crispy profile_form %}

			    <input type="hidden" name="action" value="update_user_profile">
			    
			</form>


      </div>
      
    </li>

    <script>

      function toggle_user(ele) {

        var info_perso = document.getElementById('info_perso');

        if (info_perso.style.display == 'block') {

            info_perso.style.display = 'none';

            document.getElementById(ele.id).value = 'Show infomation_perso';
        }
        else {
        	
            info_perso.style.display = 'block';

            document.getElementById(ele.id).value = 'Hide infomation_perso';
        }
      }

      function toggle_mdp(ele) {

        var mdp = document.getElementById('mdp');

        if (mdp.style.display == 'block') {

            mdp.style.display = 'none';

            document.getElementById(ele.id).value = 'Show mot_de_passe';
        }
        else {

            mdp.style.display = 'block';

            document.getElementById(ele.id).value = 'Hide mot_de_passe';
        }
      }

      function toggle_profile(ele) {

        var profile_info = document.getElementById('profile_info');

        if (profile_info.style.display == 'block') {

            profile_info.style.display = 'none';

            document.getElementById(ele.id).value = 'Show profile';
        }
        else {

            profile_info.style.display = 'block';

            document.getElementById(ele.id).value = 'Hide profile';
        }

      }

    </script>

  </ul>

</div> 