{% extends "base.html" %} 

{% load static %}



{% block left %}


    <h2> About Vitexpro </h2>

    <h5>Photo of me:</h5>

    <div class="fakeimg">  

        <img class="masthead-avatar mb-5" src="{% static 'images/vitex/logo.jpg' %}" alt="" style="width:360px;height:200px;"/>  

    </div>

    <p> Some text about me in culpa qui officia deserunt mollit anim..</p>


{% endblock %}



{% block right %}

    {% block right_top  %}

        <h2> TITLE HEADING </h2>

        <h5> Title description, Dec 7, 2017 </h5>

        <div class="fakeimg"> Fake Image </div>

        <p> Some text.. </p>

        <p>
        Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <br>

    {% endblock %}

    {% block right_bottom  %}

        <h2> TITLE HEADING </h2>

        <h5> Title description, Sep 2, 2017 </h5>

        <div class="fakeimg"> 

               Fake Image           
        </div>

        <p>S ome text.. </p>

        <p> Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

    {% endblock %}

{% endblock %}