{% load cache %} 

<!-- {% cache 120 menu request.session.logged_in %} -->

<ul class="navbar-nav ml-auto text-uppercase"> 

    <li class="nav-item mx-0 mx-lg-1"> 

        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'index' %}"> Accueil </a>

    </li>

    <li class="nav-item mx-0 mx-lg-1">

        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'contact_us' %}"> Contact </a>

    </li>

    <li class="nav-item mx-0 mx-lg-1">

        {% if request.session.logged_in %}

            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'logout' %}"> <i style="color:red"> Déconnexion </i> </a>

        {% else %}

            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'login' %}"> Connexion </a>

        {% endif %}

    </li>

    <li class="nav-item mx-0 mx-lg-1">

        {% if not request.session.logged_in %}

            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'register' %}"> Inscription </a>
           
        {% else %}

            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'user_profile' %}"> Profil </a>
        
        {% endif %}

    </li>

    <li class="nav-item mx-0 mx-lg-1">

        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'proposition' %}"> Proposer </a>

    </li>

    <li class="nav-item mx-0 mx-lg-1">

        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'alert_me' %}"> M'avertir </a>  

   </li>

    <li class="nav-item mx-0 mx-lg-1">

        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'research' %}"> Rechercher </a>  

   </li>
   
</ul>

<!-- {% endcache %} -->
 
