<style type="text/css">

  .sort-select#sort2 { display: none; }

    /* Customize the label (the container) */

  .containerss {background: white; width: 100px; height: 20px; }

  .pad {padding: 10px; font-weight: bold;}

  .pad1 {padding: 5px; font-weight: bold;}

  .divider-text {position: relative; text-align: center; margin-top: 15px; margin-bottom: 15px;}

  .divider-text span {padding: 7px; font-size: 12px; position: relative;  z-index: 2;}

  .divider-text:after {content: ""; position: absolute; width: 100%; border-bottom: 1px solid #ddd; top: 55%; left: 0; z-index: 1;}

  .btn-facebook {background-color: #405D9D; color: #fff;}

  .btn-twitter {background-color: #42AEEC; color: #fff;}



table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}



</style>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">  

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

{% extends "base.html" %} 

{% load static %}

<!--  This is the top lfet container   -->



{% block top-left-container %} 

<!--   {{ ville_pays }} -->

 <form action="{% url 'findAPatient' %}" method="POST" style="width: 100%">  

  {% csrf_token %}
  
<div class="row card border-dark">

  <div class="container-fluid" style=" float:center; background-color: #fff; padding: 15px; border-radius: 5px;  width: 100%">

    <!-- <p style="background-color:#ccffcc;color: green"> Text here </p> -->

      <div class="card text-center">

      <div class="card-header" style="white: #5D6D7E;font-size: 1.30em; background-color: green"> 

        Trouver un patient pour la visite <br>

        <i style="color:blue"> {% if message_send %} Ce patient n'existe pas {% endif %} </i> 

      </div>

      <div class="container">

        <div class="card bg-light">

          <article class="card-body mx-auto" style="max-width: 400px;"> 

            {% if find_patient %} 

              <div class="form-group input-group">

                <div class="input-group-prepend"> <span class="input-group-text"> <i class="fa fa-user"></i> </span> </div>

                <input name="patient_pin" class="form-control" placeholder="PIN du patient" type="number">
                
              </div> <!-- form-group// -->  

              <div class="form-group">                   

                <input name="action" class="form-control" type="hidden" value="find_patient">

                <button type="submit" class="btn btn-primary btn-block"> Trouver un patient </button>

              </div> <!-- form-group// -->  

            {% endif %}


            {% if not find_patient %}  

              <hr width="100%">

                <table style="width: 100%" class="container" style="border-dark">

                  <tr> <th class="pad"> Nom et prénom </th> <th class="pad" style="color:blue"> {{ full_name }} </th> </tr>

                  <tr> <td class="pad"> Date de naissance </td> <td class="pad" style="color:blue"> {{ date_of_birth }} </td> </tr>

                  <tr> <td class="pad"> NNI </td> <td class="pad" style="color:blue"> {{ four_last_digital_of_NNI }} </td> </tr>

                  <tr> <td class="pad" colspan="2" > Je suis </td> </tr>

                  {% for doctor in list_of_doctors_to_see %}

                    <input name="patient_pin" class="form-control" type="hidden" value="{{ patient_pin }}">

                    <tr>   

                      <td class="pad1" colspan="2">                        

                        <input class="form-control" type="hidden" name="action" value="update_patient_profil">

                        <input class="containerss" type="radio" name="speciality" value="{{ doctor }}" required="required"> 
                            {{ forloop.counter }} - {{ doctor }}

                      </td>  

                    </tr>

                  {% endfor %}

                    <tr>   

                      <td class="pad1" colspan="2">

                        <div class="form-group">

                        <button type="submit" class="btn btn-primary btn-block"> Consultation terminée </button>

                        </div> <!-- form-group// --> 

                      </td>  

                    </tr>                  

                </table> 

              {% endif %}
            

          </article>

        </div> <!-- card.// -->

</div> 

<!--container end.//-->

<br><br>

<article class="bg-secondary mb-3">  

  <div class="card-body text-center">

    <h3 class="text-white mt-3"> F.A.R.L </h3>

    <p class="h5 text-white"> Fédération des Associations <br> </p> <p> des Ressortissants de Lexeiba Gorgol </p> <br>

    <p> <a class="btn btn-warning" target="_blank" href=""> Département de Lexeiba Gorgol 

     <i class="fa fa-window-restore "> </i> </a> </p>

  </div>

  <br><br>

</article>


    </div>

   </div>

</div>

{% endblock %}  

<!--  This is the bottom left container -->

{% block bottom-left-container  %}

    <!-- <a href="{% url 'register' %}"> M'inscrire maintenant </a>  -->    

{% endblock %}  

<!--  This is the right container (right column)  -->

{% block right-container  %} 

  <div class="row"> 

    <div class="card border-secondary mb-5" style="width: 100%;">

      <div class="card-header" style="color: black;font-weight: bold;"> Liste des ordonnances </div>

      <div class="card-body text-secondary">

        <div class="container">

          <div class="row">

            <table style="width: 100%;border: 1px solid black;" class="container">
              
              <tr>

                <td class="pad"> Code  </td>

                <td class="pad"> Nom du medicament </td>

                <td class="pad"> Nbre de fois/jour</td>

              </tr>

              {% for key, values in medicine_data.items %}

                <tr align="center">
                  
                  <td class="pad"> <input class="containerss" type="checkbox" name="checks[]" value="{{ key }}"> {{ key }} </td>

                  <td class="pad"> {{ values.name }} </td>

                  <td class="pad">

                    <select name="my_html_select_box">

                      {% for day in days %} 
                        
                        <option valeur="{{ day }}"> {{ day }} </option>
                        
                      {% endfor %}

                    </select>

                  </td>

                </tr>

              {% endfor %}

            </table> 
            
          </div>

        </div> 

      </div>

      <div class="card-header" style="color:blue;"> 

        {% if data_added %} Le PIN de {{ full_name }} est: <strong style="color:red"> {{ patient_pin }} </strong> {% endif %}

      </div>   

    </div>

<div class="card border-dark mb-5">

  <div class="card-header"> Caravane de santé - Lexeiba - 2022  </div>

  <div class="card-body text-dark">

    <h5 class="card-title">  </h5>

    <p class="card-text"> </p>

  </div>
  
</div>



</div>

{% endblock %} 


 </form>