<table style="width: 100%;">

  <tr> 

    <td style="width: 75%;">

      <div style="float: left;margin-left: 5px"> 

        <i style="color:green; margin-right:5px" class="fas fa-box"></i>

        <span style="color: #0D137E"> {{ row.number_of_kg }} kg </span>

      </div>

      <div style="float: right"> 

        <i style="color:#27AE60"class="far fa-money-bill-alt"></i> 

        <span style="color: blue"> {{ row.price_of_kg }} {{ row.currency_used }} / kg  </span>

      </div>

    </td> 

  </tr>
  
</table>
