<div style="padding: 15px;padding-top: 0px">

  <span style="color: #00b300; font-size: 50px"> 

    <i class="fa fa-envelope" aria-hidden="true"></i> 

  </span>

  <p style="color: #290066;font-size: 22px"> CONFIRMER VOTRE ENREGISTREMENT </p>

  <p style="color: #bfbfbf;padding-left:40px; padding-right: 40px; text-align: center"> 

    Les étapes à suivre pour accéder à votre compte ont été envoyées sur votre e-mail. 

  </p>

  <ul class="list-group" style="text-align: left">
    
    <li class="list-group-item" style="color: black">

      <span style="color: green;font-size: 12px;margin-right: 5px">

        <i class="fa fa-circle" aria-hidden="true"></i> 

      </span>

      Toutes les données du formulaire ont été complétées.

    </li>

    <li class="list-group-item" style="color: black">

      <span style="color: #ffcc00;font-size: 12px;margin-right: 5px">

        <i class="fa fa-circle" aria-hidden="true"></i> 

      </span> 

      Votre email dans notre système est: <br>

      <span style="background-color: #e6b800;margin:10px;padding:5px;border-radius: 5px">   {{ email }} </span>

    </li>

    <li class="list-group-item" style="background-color: #6666cc;color: white"> 

      <span style="color: red;font-size: 12px;margin-right: 5px">

        <i class="fa fa-circle" aria-hidden="true"></i> 

      </span> 

      Cliquez sur le lien envoyé sur votre email pour finaliser votre inscription. 

    </li>

  </ul>

</div>
      
  